# copied from /etc/udev/rules.d/99-wallpaper-hotplug.rules
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", TAG+="systemd", ENV{SYSTEMD_WANTS}="hyprpaper-hotplug.service"

